<div class="comment">
  <h1>文章详情</h1>
  <p><%= @article.title %></p>
  <p><%= @article.short_title %></p>
  <p><%= @article.keywords %></p>
  <p><%= @article.description %></p>
  <p><%= @article.content.html_safe %></p>
</div>
